<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Welcome to Oxtel</title>
</head>
<body>
  <h1>Welcome, {{firstName}}!</h1>
  <p>Thank you for joining Oxtel. We are excited to have you on board.</p>
  <p>Your username is: <strong>{{username}}</strong></p>
  <p>If you have any questions, feel free to reach out to our support team.</p>
  <p>Best regards,</p>
  <p>The Oxtel  Team</p>
</body>
</html>
